@font-face {
    font-family: 'ABCRepro-Screen';
    font-style: normal;
    font-weight: 500;
    src: url(https://raw.githubusercontent.com/mx-wll/mjml/master/ABCRepro-Screen.woff2) format('woff2');
}